html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #202020;
    background-color: #fafafa;
    font-smooth: always;
    -webkit-font-smoothing: antialised;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    margin: 0;
    padding: 0;
}

:root {
    --generic-box-show: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
    --generic-border: 1px solid #f1f1f1;
    --generic-bg: #db4c3f;
}


/*@mixin box-overlay() {
    box-shadow: --generic-box-show;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 85px;
    border-radius: 3px;
}*/

.darkmode {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: #282828;
    border-color: transparent;
}

header {
    border-bottom: solid 1px #ca2100;
    background-color: var(--generic-bg);
    transition: 200ms ease-in;
    height: 44px;
    z-index: 400;
    position: fixed;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 900px) {
    header {
        padding: 0 10px;
    }
}

nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 922px;
    margin: auto;
    height: 44px;
}

p,
li {
    color: white;
}

.logo {
    padding-left: 8px;
    grid-area: 1/1;
}

.logo>img {
    width: 24px;
}

.logo:hover {
    cursor: pointer;
}

.settings {
    grid-area: 1/2;
    text-align: right;
}

.settings ul {
    float: right;
}

.settings li {
    list-style: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.settings li:hover {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
}

.settings__add {
    margin-right: 15px;
    font-size: 30px;
}

.settings__darkmode svg {
    width: 20px;
    height: 20px;
}

.settings__darkmode {}


/* Sidebar */

.sidebar {
    width: 266px;
    height: calc(100vh);
    padding-top: 74px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: var(--generic-border);
    background-color: #fafafa;
}

@media screen and (max-width: 900px) {
    .sidebar {
        display: none;
    }
}

.sidebar li {
    color: black;
    padding-left: 10px;
    padding-right: 15px;
}

.sidebar__projects-delete:hover {
    display: block;
}

.__project {
    padding: 5px 0;
    cursor: pointer;
}

.-delete {
    margin-left: auto;
    display: none;
}